<div class="col-md-4">
  <!-- Products Container -->
  <div class="list-group">
    <div class="list-group-item">
      <h3>{{ gem.name }}
        <em class="pull-right">{{ gem.price | currency }}</em>
      </h3>
      <!-- Image Gallery -->
      <div class="img-wrap product-image">
        <img src="{{ gem.imagePath }}" alt="">
      </div>
      <!-- Image Carousel Scroll Item-->
      <ul class="img-thumbnail clearfix">
        <li class="small-image pull-left thumbnail">
            <img src="" alt="">
          </li>
      </ul>

      <!-- Add to Cart Button -->
      <div class="text-center add-to-cart">
          <button class="btn btn-primary" *ngIf="gem.inventory > 0" (click)="gem.inventory = gem.inventory-1">Add to Cart</button>
        <button class="btn btn-danger" disabled *ngIf="gem.inventory <= 0">Sold Out</button>
      </div>
    </div>

    <!-- Product Tabs -->
    <app-tabs [gem]="gem"></app-tabs>
  </div>
</div>
