<!-- Shopping Cart HTML Shell-->
<div class="container">
  <div class="col-md-10">
    <app-gem *ngFor="let gem of homeGems" [gem]="gem"></app-gem>
  </div>
  <div class="col-md-2">
    <div class="list-group">
      <div class="list-group-item">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Shopping Cart</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>JoeSchmoe@ExampleSite.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Shopping Cart HTML Shell -->
  </div>
</div>
